appdirs==1.4.3
certifi==2015.4.28
decorator==3.4.2
Django==1.11.3
django-webpack-loader==0.2.4
Fabric==1.10.2
functools32==3.2.3.post1
ipython==3.1.0
Jinja2==2.7.3
jsonschema==2.5.1
MarkupSafe==0.23
matplotlib==1.2.0
networkx==1.9.1
nose==1.3.7
numpy==1.7.0
packaging==16.8
pkginfo==1.2.1
-e git+https://github.com/darbula/pymote.git@1bf6072e9f39b176ee5d40462f6456ae95991381#egg=Pymote
pyparsing==2.0.3
pypng==0.0.17
pyreadline==2.1
pyserial==2.7
PySide==1.2.4
python-dateutil==2.4.2
pytz==2015.4
pyzmq==14.6.0
requests==2.8.1
requests-toolbelt==0.4.0
scipy==0.11.0
six==1.9.0
tornado==4.2
twine==1.6.4
xlrd==1.0.0
xlwt==1.1.2
